.denounce {
  background-color: white;
  padding-top: 30px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  border-radius: 15px;
}

.denounce h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
}

.denounce-analyses {
  margin-top: 15px;
  background-color: #fef281;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  line-height: 2em;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  width: 85%;
  height: fit-content;
  min-height: 10rem;
}

.option-header {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.title-denounce-analyses {
  margin: 0;
  padding-left: 15px;
  background-color: #ffe606;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.denounce-disapproved {
  margin-top: 15px;
  background-color: #ff9781;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  line-height: 2em;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  width: 85%;
  height: fit-content;
  min-height: 10rem;
}

.denounce-approved {
  margin-top: 15px;
  background-color: #b1ff81;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  line-height: 2em;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  width: 85%;
  height: fit-content;
  min-height: 10rem;
}

.title-denounce-disapproved {
  margin: 0;
  padding-left: 15px;
  background-color: #fe523a;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-denounce-approved {
  margin: 0;
  padding-left: 15px;
  background-color: #62ff3a;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.denounce h3 {
  font-size: 17px;
  font-weight: bold;
}

.denounce h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}

.denounce h5 {
  line-height: 1;
  margin-right: 10px;
}

.gg-trash {
  cursor: pointer;
}

.next-pagination {
  cursor: pointer;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: inherit;
  height: 3rem;
  width: 3rem;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin: 1rem;
  border-color: transparent;
  font-size: 1.3rem;
  font-weight: bolder;
}

.menu-bar,
.option-header {
  display: none;
}

@media (max-width: 400px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .denounce h4 {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .denounce h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .card-app {
    height: 90vh;
  }

  .menu-bar,
  .option-header {
    display: flex;
  }

  .denounce {
    padding: 1rem;
  }

  .denounce h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  .denounce h1 {
    font-size: 3rem;
  }
}
