.sign-up {
  padding: 3rem;
}

.sign-up p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.input-base {
  border: 1px solid #ceb8a7 !important;
  height: auto;
  margin-top: 2rem;
}

.sign-up a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 30px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  padding: 1rem auto;
}

.form-container p {
  text-transform: uppercase;
  margin: 1rem;
}

.form-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-left: 5px;
}

.escreva {
  font-weight: bolder;
  font-size: large;
  justify-content: left;
  text-align: left;
  align-items: flex-start;
}

@media (min-width: 400px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 800px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
