body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.recup-senha {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5rem;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.button-base {
  margin-top: 15px;
  height: 30px;
  width: 100px;
  margin-left: 37px;

}

.input-base {
  margin-top: 15px;
}

.logout-nav {
  margin-top: 270px;
}