body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.sign-up p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.input-base {
  border: 1px solid #ceb8a7 !important;
  height: auto;
  width: 15rem;
}

.text-area-base {
  width: 17rem;
  height: 15rem;
}

.sign-up a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 30px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin: 1rem 0;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 95%;
  height: 7;
  margin-bottom: 10px;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
}

.form-container {
  width: 100%;
  padding: 1rem;
}

.form-container p {
  text-transform: uppercase;
  margin: 1rem;
}

.form-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-base {
  background-color: #f94949;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-left: 5px;
}

#anexar {
  cursor: pointer;
  font-weight: bold;
}

.menu-bar,
.option-header {
  display: none;
}

@media (max-width: 600px) {
  .app-container {
    align-items: center;
  }

  .text {
    width: 18rem;
  }
}

@media (max-width: 400px) {
  .app-container {
    align-items: center;
  }

  .text {
    width: 15rem;
    align-items: center;
  }

  .card-app {
    align-items: center;
    justify-content: center;
  }

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (max-width: 800px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .menu-bar,
  .option-header {
    display: flex;
  }
  .option-header {
    width: 100%;
    justify-content: flex-end;
  }
}
