:root {
  --main: #f94949;
  --success: green;
  --warning: --yellow;
  --error: red;
  --info: rgba(0, 0, 255, 0.75);
}

.text-main-color {
  color: var(--main);
}

.bg-main-color {
  border: var(--main);
  background-color: var(--main);
  color: #fff;
}

.bg-success-color {
  border: var(--success);
  background-color: var(--success);
  color: #fff;
}

.bg-info-color {
  border: var(--info);
  background-color: var(--info);
  color: #fff;
}

.card-base {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}

.input-base {
  border: 1px solid #ceb8a7 !important;
  border-radius: 10px;
  height: 1.5rem;
  padding: 0.3rem;
}

.input-base::placeholder {
  color: #ceb8a7;
}

.input-base:focus {
  outline-color: var(--main);
}

.button-base {
  border-radius: 20px;
  width: 70%;
  height: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

