body {
    background-color: #F94949;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up {
    margin-top: 30px;
    width: 500px;
    height: 800px;
    background-color: #fff;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
    font-size: 0.3cm;
    margin-top: 70px;
    margin-bottom: 10px;
}

.login-button {
    border: #F94949;
    background-color: #F94949;
    border-radius: 10px;
    width: 150px;
    height: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.form-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input {
    margin-top: 8px;
    margin-bottom: 8px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.logo-container h1 {
    color: #F94949;
    margin-left: 5px;
}

#options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    margin: 20px;
}